.display-block {
  display: block;
}

.color-green {
  color: green;
}

.color-blue {
  color: blue;
}

.hyper-red:link {
  color: red;
}

.hyper-red:visited {
  color: #FF4400;
}

.hyper-red:hover {
  color: #FF9900;
}

.hyper-red:active {
  color: #000000;
}

.bgcol-pink {
  background-color: pink;
}

.bgcol-aquamarine {
  background-color: aquamarine;
}

@keyframes anim-shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-1px, 0px) rotate(-1deg); }
  50% { transform: translate(1px, -1px) rotate(1deg); }
  75% { transform: translate(-1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(0deg); }
}

.effects-shaky {
  animation: anim-shake 0.2s infinite;
}